<div class= "form-background">
  <%= form_tag('/trips') do %>
    <div class="tab">
      Starting Location<br> <%= text_field_tag 'start_location' %>
      <br>
      Ending Location<br> <%= text_field_tag 'end_location' %>

      <br>
      Radius<br> <%= text_field_tag 'radius' %>
      <br>

      <div class=form-item>
      Parking Type<br>

      <span class="parking-option">
        Meter<br>
        <label class="switch">
          <%= check_box_tag 'meter', class: 'checkbox' %>
          <span class="slider"></span>
        </label>
        <br>
      </span>

      <span class="parking-option">
        Lot<br>
        <label class="switch">
          <%= check_box_tag 'lot', class: 'checkbox' %>
          <span class="slider"></span>
        </label>
      </span>
      </div>
      <%= submit_tag "Search", class: "submit-btn btn btn-primary btn-lg btn-block mx-auto", style: "width: 760px" %>
  <% end %>
</div>
