<div class= "form-background">
  <%= form_tag('/results', controller: "results", action: "create") do %>
    <div class="tab">
      Destination<br> <%= text_field_tag 'destination' %>

      <br>
      Radius<br> <%= text_field_tag 'radius' %>
      <br>

      <div class=form-item>
      Parking Type<br>

      <span class="parking-option">
        Meter<br>
        <label class="switch">
          <%= check_box_tag 'meter', class: 'meter-checkbox' %>
          <span class="slider"></span>
        </label>
        <br>
      </span>

      <span class="parking-option">
        Lot<br>
        <label class="switch">
          <%= check_box_tag 'lot', class: 'lot-checkbox' %>
          <span class="slider"></span>
        </label>
      </span>
      </div>
      <%= submit_tag "Search", class: "submit-btn btn btn-primary btn-lg btn-block mx-auto", style: "width: 760px" %>
  <% end %>
</div>
<button onclick="getLocation()">Current Location</button>
<p id="location"></p>
