<div class="about">

  <section class="credits">
    <div>Credits</div>
    <ul style="list-style-type:none">
      <li><%= link_to "Nikki Holland-Plum", "https://github.com/mnhollandplum" %></li>
        <li><%= link_to "Maria Torres", "https://github.com/tmaria17" %></li>
      <li><%= link_to "Preston Jarnagin", "https://github.com/prestonjarnagin" %></li>
      <li><%= link_to "Nick Lindeberg", "https://github.com/NickLindeberg" %></li>
    </ul>
  </section>

  <section class="code">
    <div> Check out the code <%= link_to "here" ,"https://github.com/mnhollandplum/parkween" %><div>
  </section>
</div>
