
  <%#  Remove this afer placing pins %>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @coordinates[:lat] %>, lng: <%= @coordinates[:lng] %>},
          zoom: 16
        });
        var destination = {lat: <%= @coordinates[:lat] %>, lng: <%= @coordinates[:lng] %>};
        var marker = new google.maps.Marker({position: destination, map: map});
        <% @facade.lots.each do |location| %>
          var image = ({
            url: "https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png",
            scaledSize: new google.maps.Size(78, 78)
          });
          var position = new google.maps.LatLng(<%= location.lat %>, <%= location.lng %>);
          var marker = new google.maps.Marker({
            animation: google.maps.Animation.BOUNCE,
            position: position,
            map: map,
            title: <%= location.name.to_json.html_safe %>,
            price: <%= location.price.to_json.html_safe%>,
            icon: image,
            optimized: false
          });
          google.maps.event.addListener(marker , 'click', function(){
            var form = "<%=j button_to 'Select', trips_path, params: {location: location.address, destination_address: @facade.destination} %>"
            var infowindow = new google.maps.InfoWindow({
              content: "<div class=map-box>" + <%= location.name.to_json.html_safe %> + "<br />"+"<%= location.price.to_json.html_safe.to_s%> dollars" + form + "</div>",
            });
            infowindow.open(map,this);
            google.maps.event.addListener(map, "click", function(event) {
              infowindow.close();
            });
          });
        <% end %>
      return marker;

    };

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap">
  </script>
  </body>

  <% unless @facade.meters.empty? %>
    <div class="meter-select">
      <%= button_to "Choose Meter", trips_path, params: {location: "Meter", destination_address: @facade.destination}, class: "submit-btn btn btn-primary btn-lg btn-block mx-auto", style: "width: 760px"   %>
    </div>
  <% end %>

  <div class="stats">
    <% unless @facade.meters.empty? %>
      Meters In Search Radius: <%= @facade.meter_count %><br>
      Average Meter Price: <%= number_to_currency(@facade.avg_meter_price) %>
      <br />
    <% end %>
    <% unless @facade.lots.empty? %>
      Lots In Search Radius: <%= @facade.lots.count %><br>
      Average Lot Price: <%= number_to_currency(@facade.avg_lot_price) %>
    <% end %>


  </div>

  <% if @facade.lots.empty? && @facade.meters.empty? %>
    <div class="no-results">
      Sorry, No Results Found
      <%= link_to "New Trip", new_trip_path %>
    </div>
  <% end %>
