
  <%#  Remove this afer placing pins %>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @coordinates[:lat] %>, lng: <%= @coordinates[:lng] %>},
          zoom: 16
        });
        var destination = {lat: <%= @coordinates[:lat] %>, lng: <%= @coordinates[:lng] %>};
        var marker = new google.maps.Marker({position: destination, map: map});
        <% @facade.lots.each do |location| %>
        var image = 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png';
        var position = new google.maps.LatLng(<%= location.lat %>, <%= location.lng %>);
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          title: <%= location.name.to_json.html_safe %>,
          price: <%= location.price.to_json.html_safe%>,
          icon: image,
          optimized: false
        });
        google.maps.event.addListener(marker , 'click', function(){
          var infowindow = new google.maps.InfoWindow({
            content: <%= location.name.to_json.html_safe %> + "<br />"+"<%= location.price.to_json.html_safe.to_s%> dollars",
          });
          infowindow.open(map,this);
        });
      <% end %>
      return marker;

    };

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap">
  </script>
  </body>


  <% unless @facade.lots.empty? && @facade.meters.empty? %>
    Results:
    <div class="results">

    <% unless @facade.lots.empty? %>
      <% @facade.lots.each do |loc| %>
        <div class="lot-result result">
          <li>Name: <%= loc.name %></li>
          <li>Price: $<%= loc.price %> Per Hour</li>
          <li>Address: <%= loc.address %></li>
          <li>Distance: <%= loc.distance %> Feet</li>
          <li>Lat: <%= loc.lat %></li>
          <li>Lng: <%= loc.lng %></li>
        </div>
      <% end %>
    <% end %>

    <% unless @facade.meters.empty? %>
      <% @facade.meters.each_with_index do |loc, i| %>
      <% break if i == 10 %>
        <div class="meter-result result">
          <% if loc.price %>
          <li>Price: $<%= loc.price %>0 Per Hour</li>
          <% else %>
            Pricing Unavaliable
          <% end %>
          <li>Address: <%= loc.address %></li>
          <li>Distance: <%= loc.distance %></li>
          <li>Lat: <%= loc.lat %></li>
          <li>Lng: <%= loc.lng %></li>
        </div>
      <% end %>
    <% end %>

  </div>
  <% else %>
    <div class="no-results">
      Sorry, No Results Found
      <%= link_to "New Trip", new_trip_path %>
    </div>
  <% end %>
